<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daniel.bankingapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <!-- activities go here -->

        <!-- main activity -->
            <activity android:name=".Main.MainActivity"
                      android:theme="@style/AppTheme.NoActionBar"
                      android:windowSoftInputMode="stateVisible|adjustPan"
                      android:configChanges="orientation"
                      android:screenOrientation="portrait">

                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>

            </activity>
        <!-- end main activity -->

        <!-- sign-up activity -->
        <activity android:name=".Main.MainSignUp"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>
        <!-- end sign-up activity -->

        <!-- user navigation activity -->
            <activity android:name=".Navigation.UserNavigation"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateVisible|adjustPan"
                android:configChanges="orientation"
                android:screenOrientation="portrait">

            </activity>
        <!-- end user navigation activity -->

        <!-- admin navigation activity -->
        <activity android:name=".Navigation.AdministratorNavigation"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>
        <!-- end admin navigation activity -->

        <!-- app introduction activity -->
        <activity android:name=".Main.Introduction.MainIntroduction"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>
        <!-- end app introduction activity -->

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
